### Super Stupid LOL!
### ! means a file should be added regardless of it it gets ignored prior.

### Haxe
export/*
dump/*
local/*

### VS Code
.vscode/*
.haxelib/
*.code-workspace

### Local history which shouldn't be shared.
.history
.ionide

### Including to allow others to use already set-up configuration tweaked for the project.
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


## DOX
pages
docs
bin

.build_time