# Auto detect text files and perform LF normalization
* text=auto eol=lf

# Haxe Stuff
*.hx linguist-language=Haxe
*.hxc linguist-language=Haxe
*.hxp linguist-language=Haxe
*.hscript linguist-language=Haxe

# Lua Stuff
*.funkinlua linguist-language=Lua